html {
    font-size:16px;
}

body {
    margin : 0;
    padding : 0;
    font-family : Roboto, sans-serif;
    font-size : 1rem;
    color: #444444;
}

h1,h2,h3,h4,h5,h6{
    font-family : Inter, sans-serif;
    color : #222222;
}

h1{font-size : 2.5rem;}
h2{font-size: 2rem;}
h3{font-size : 1.75rem;}
h4{font-size: 1.5 rem;}
h5{font-size : 1.25rem;}
h6{font-size : 1rem;}

#navbar{
    padding : 8px;
    margin : 0;
}

#about{
    display : flex;
    max-width: 800px;
    padding : 8px;
    margin : 0 auto;
}

#description{
    width : 50%;
    padding : 0 10px;
    font-size: 1.25rem;
}

#team{
    width : 50%;
}

#team-image{
    border-radius: 5px;
}

h1 {
    text-align : center; 
}

h2{
    text-align : center;
}

#jobs{
    max-width : 800px;
    margin : 0 auto;
    padding : 0 8px;
}

h3{
    margin-bottom : 0;
    margin-top : 0;
}

.Apply{
    float:right;
}

a{
    text-decoration: none;
    color : #51a2ff;
}

a:hover{
    color : #2b7fff;
}

#footer{
    background-color: #f3f4f6;
    margin-top : 32px;
    padding : 8px;
    text-align: center;
}

#footer-links{
    list-style: none;
}

#footer-links li{
    display : inline;
    margin : 0;
}

.copy-right{
    color: gray;
    font-size : 0.875rem;
}
#banner{
    width : 100%;
    object-fit: cover;
}

#jobs-table{
    width:100%;
    border : 1px solid gray;
    border-collapse : collapse;
}

.jobs-header-row th{
    border:1px solid gray;
    background-color: #dff2fe;
    padding : 8px;
    text-align : center;
    color : #222222;
}

.jobs-body-row td{
    border : 1px solid gray;
    padding : 8px;
}

#jobs-table tr:nth-child(odd){
    background-color: #f0f9ff;
}

#form{
    max-width: 800px;
    padding : 0 px;
    margin : 0 auto;
}

#form-submission{
    width : 100%;
}

#form-submission label{
    font-weight : bold;
}

#form-submission input, select, textarea{
    margin-top : 4px;
    font-size: 1.25rem;
    padding: 8px;
    border-radius: 5px;
    border-color: 1px solid gray;
}

.label{
    margin-top : 16px;
}

.label input[type="checkbox"]{
    height : 15px;
    width : 15px;

}

.label input[type="submit"]{
    font-family : Roboto, sans-serif;
    background-color : blue;
    color: white;
    font-weight : 800;
    cursor : pointer;
    
}